@import "tailwindcss";

@theme {
    --color-primary: #c8f400;
    --font-sans: 'Inter', sans-serif;
    --font-heading: 'Outfit', sans-serif;
}

:root {
    background-color: #000;
    color: #fff;
    font-family: var(--font-sans);
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 7px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #020202;
}

::-webkit-scrollbar-thumb {
    background: #cef00f;
    border-radius: 6px;
    border: 2px solid #020202;
}

::-webkit-scrollbar-thumb:hover {
    background: #d6ff1f;
}

